/* Uses variables from style.css */

.holder.pixel {
	display: flex;
	flex-wrap: wrap;
}

.holder.pixel > * {
	width: max-content;

	margin: var(--eigthSpace);
	padding: var(--eigthSpace);
}

.holder.canvas {
	height: 80vh;

	flex-grow: 0.9;
	overflow: hidden;
}

.holder.canvas > * {
	margin: 0px;
}

.multiColumn {
	display: flex;
	flex-wrap: wrap;
}

.fader {
	left: 0px;
	position: absolute;

	width: 100%;
	height: 2rem;
}

.fader.top {
	top: 0px;
	background-image: linear-gradient(#ffffffff, #ffffff00);
}

	.fader.bottom {
		bottom: 0px;
		background-image: linear-gradient(ffffff00, ffffffff);
	}