/* Uses variables from style.css */

.holder.pixel {
	display: flex;
	flex-wrap: wrap;
}

.holder.pixel > * {
	width: max-content;

	margin: var(--eigthSpace);
	padding: var(--eigthSpace);
}

.holder.canvas {
	height: 80vh;

	flex-grow: 0.9;
	overflow: hidden;
}

.holder.canvas > * {
	margin: 0px;
}