/* Uses variables from style.css */

.holder div {
	width: max-content;

	margin: var(--quarterSpace);
	padding: var(--quarterSpace);

	background-color: #dddddd;
}

div.flexHolder {
	display: flex;
	flex-wrap: wrap;
}

	div.flexHolder > * {
		/*max-width: 100%;*/

		
	}

.canvasHolder {
	height: 80vh;

	flex-grow: 0.9;
	overflow: hidden;
}