/* Uses variables from style.css */

.holder.pixel > * {
	width: max-content;

	margin: var(--quarterSpace);
	padding: var(--quarterSpace);
}

.holder.canvas {
	height: 80vh;

	flex-grow: 0.9;
	overflow: hidden;
}

.holder.canvas > * {
	margin: 0px;
}