* {
	--space: calc(0.5rem + 5vw);
	--eigthSpace: calc(var(--space) / 8);
	box-sizing: border-box;
}

img, canvas, input[type=submit], input[type=button] {
	user-select: none;
}

body {
	margin: 0px;

	background-color: #3eca9c;
}

main {
	margin: var(--space);
	padding: var(--space);
	background-color: #ffffff;
}

img {
	max-width: 100%;
}

fieldset {
	margin: 0px;
}

canvas, fieldset {
	border: solid 2px #000000;
}

/* Text styles */

/* f(x) = (2x^2 - 4x + 27) / 25 */
h1 {font-size: 3rem;}
h2 {font-size: calc(57rem / 25);}
h3 {font-size: calc(43rem / 25);}
h4 {font-size: calc(33rem / 25);}
h5 {font-size: calc(27rem / 25);}
p, hr, h6 {font-size: 1rem;}

p, hr, h1, h2, h3, h4, h5, h6, form, input, label, canvas {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

p.error {
	color: #ee0000;
}